<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h3>Add New Student</h3>
    <hr/>
    <form id="form" method="POST" th:action="@{/saveStudent}" th:object="${student}">
        <input class="form-control col-4 mb-4" placeholder="Enter Name" th:field="*{name}" type="text"/>
        <input class="form-control col-4mb-4" placeholder="Enter Surname" th:field="*{surname}" type="text"/>
        <input class="form-control col-4mb-4" placeholder="Enter Faculty" th:field="*{faculty}" type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Enter Age" th:field="*{age}" type="number"/>
        <button class="btn btn-primary col-2" disabled="disabled" id="register" type="submit" value="Register">Save
        </button>
        <input id="id" th:field="*{id}" type="hidden"/>
    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>
</body>
</html>